body {
    background-color: dimgrey;
}

header {
    background-color: blueviolet;
    display: flex;
    margin: 1rem;
}

#main {
    display: flex;
}
.container {
    background-color: darkgrey;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 1rem;
}

footer {
    background-color: burlywood;
    text-align: center;
    margin: 1rem;
}