:root {
    --width: fit-content;
    --height: fit-content;
    --margin: .5em;
    --padding: 1em;
}

* {
    border-radius: .5em;
}

body {
    background-color: dimgrey;

}

header {
    display: flex;
}

header > div{
    background-color: lightslategrey;
    width: var(--width);
    height: var(--height);
    margin: var(--margin);
    padding: var(--padding);
}

.container {
    display: flex;
}
.container > div{
    background-color: darkgrey;
    width: var(--width);
    height: var(--height);
    margin: var(--margin);
    padding: var(--padding);

}
